body {
    background: url(/assets/img/weather.jpg) no-repeat center center fixed;
    transition: background 1s ease-in-out;
    width: 100%;
    height: 100vh;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.searchBox {
    width: 15%;
    height: 15%;
    padding: 5px 10px;
    font-size: 16px;
}

.col-md-6 {
    height: 250px;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    align-items: center;
}

.col-md-6 {
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 8px;
}